header{
    background-image: url("https://lenta.servicecdn.ru/globalassets/1/-/62/83/21/432024_3.png?preset=fulllossywhite");
    height: 260px;
   
    
}

nav{
    background-color: azure;
    display: flex;
    justify-content: space-around;
}

.menu-item{
    color:lightslategray;
}
.menu-item:hover{
    color:black;
}

h1{
    text-align: center;
}

.text-blye{
    background-color: lightskyblue;
}



.rin{
   
    background-color: lemonchiffon;
}

.center{
    display: flex;
    justify-content: center;
}

.grey {
    justify-content: center;
}

body{
    background-color:#E393F8;
}

.tin{
    background-color: lightskyblue;
}

.bin{
    background-color: lightyellow;
}
